body {
    background-color: #e2e2e2;
    margin: 0;
    font-family: Arial, sans-serif;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    background-color: #000000;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    border-radius: 30%/40%
}

.active {
    background-color: white;
    border-radius: 30%/40%;
    color: rgb(255, 0, 0) !important;
}

.expand-more {
    display: none;
}

#home {
    padding-left: -12px;
}

#back-button {
    margin: 10px 0px 0px 0px;
}

#back-button a {
    color: black;
}

#back-button a:hover {
    color: rgb(255, 111, 0);
}

.section-1 {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px 0px 20px 20px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

#heading {
    text-align: center;
    margin-top: -35px;
    font-size: 30px;
}

.accounts-section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    color: rgb(150, 138, 138);

}

.accounts-section ul li {
    list-style: none;
    padding: 10px 0px;
}

.accounts-section ul {
    padding-left: 0px;
}

.accounts-section ul a {
    text-decoration: none;
    color: rgb(110, 105, 105);
    display: flex;

}

.li-icon {
    padding-right: 10px;
}

.icon-content {
    padding-top: 2px;
}

.privacy-settings {
    margin: 20px 0px 10px 0px;
    letter-spacing: 2px;
}

.privacy-settings a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000000;
}

.icon-nav-content {
    margin-left: 15px;
    font-size: 15px;
    color: #676565;
}

@media screen and (min-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        bottom: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 0px 0px 50px 50px;
    }

    .expand-less {
        display: none;
    }

    .expand-more {
        display: block;
    }

    .section-1 {
        display: none;

    }

    #back-button {
        display: none;
    }


}